.card{
    width: 18rem;
    margin: 17px;
}

.footer-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products-list{
    margin: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}